
#footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.row-style{
    margin-top: 100px;
    align-content: center;
}

.aa{
    margin-top: 100px;
}
.f1{
    margin-top: 150px;
}

